.sheets { margin-right: 0; }

/* body bg
--------------------------------------------------------------------------------*/
body {
    position: relative;
    overflow-x: hidden;
    padding: 0 40px;
    background: #fcfcfb;
}

body {
    background: #eee;
}
body:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: linear-gradient(0deg, #eee, #fcfcfb);
    z-index: -1;
}

/* credit
--------------------------------------------------------------------------------*/
body > .debuginfo:before {
    content: 'css by /u/kwwxis';
    float: left;
    color: rgba(0,0,0,0.35);
    padding-left: 5px;
}

.author[href$="/user/kwwxis"]:after {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(%%spritesheet%%);
    background-position: -111px -272px;
    margin-bottom: -4px;
    margin-left: 1px;
    -webkit-transform: scale(0.7) rotateZ(0deg);
    transform: scale(0.7) rotateZ(0deg);
    transition: transform 400ms ease;
}
.author[href$="/user/kwwxis"]:hover:after {
    -webkit-transform: scale(0.7) rotateZ(360deg);
    transform: scale(0.7) rotateZ(360deg);
}

/* drop choices
--------------------------------------------------------------------------------*/
.dropdown.lightdrop .selected {
    text-decoration: none;
    padding: 4px 5px;
    background-image: none !important;
}

.dropdown.lightdrop .selected:after {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    border-bottom: 1.5px solid gray;
    border-right: 1.5px solid gray;
    -webkit-transform: rotateZ(45deg) translate(-2px,-2px);
    transform: rotateZ(45deg) translate(-2px,-2px);
    margin-left: 4px;
}

.dropdown.lightdrop .selected:hover {
    background: rgba(0,0,0,0.06);
    cursor: pointer;
}

.dropdown.lightdrop {
    position: relative;
    z-index: 502;
}

.dropdown.lightdrop ~ .drop-choices {
    background: white;
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
    padding-top: 25px;
    margin-top: -24px !important;
    margin-left: -5px;
    max-width: 0;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    transition: max-width 200ms, max-height 200ms;
}

.dropdown.lightdrop ~ .drop-choices.inuse {
    opacity: 1;
    max-width: 200px;
    max-height: 300px;
}

.dropdown.lightdrop ~ .drop-choices a.choice {
    color: rgb(68,68,68);
    line-height: 26px;
    padding: 0 10px;
    transition: all 100ms;
}

.dropdown.lightdrop ~ .drop-choices a.choice:hover {
    background: hsla(196,24%,95%,1);
    color: rgb(28,28,28);
}