
/********************************************************************************
* Footer
*********************************************************************************/

/* font */
.footer, .footer .flat-vert.title, .bottommenu {
    font-family: Calibri, Segoe, "Segoe UI", Verdana, Arial, sans-serif;
}

/* borders */
.footer, .footer .col {
    border: 0;
    border-radius: 0;
}

/* footer parent */
.footer-parent {
    padding-top: 100px;
}

/* bottom menu
--------------------------------------------------------------------------------*/
.bottommenu, .bottommenu a {
    font-size: 11px;
    color: rgba(0,0,0,0.35);
}
.bottommenu a.updated {
    color: #208623;
}

/* footer
--------------------------------------------------------------------------------*/

.footer {
    max-width: none;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.footer .col:not(:last-child) {
    margin-right: 80px;
}

.footer .col {
    flex: initial;
    flex: inherit;
}

.footer .col .title {
    text-transform: capitalize;
    font-size: 16px;
    margin-bottom: 12px;
}
.footer .col li:not(.title) a {
    color: rgba(0,0,0,0.5);
    font-size: 13px;
    line-height: 18px;
}
.footer .col:first-child li:not(.title) a {
    color: rgba(0,0,0,0.6);
}