/********************************************************************************
* BASIC COLOR RESET
*********************************************************************************/
.res.res-nightmode body,
.res.res-nightmode body:before,
.res-nightmode #header {
    background: #333645;
}

.res.res-nightmode .content[role=main],
.res.res-nightmode .side {
    border-top-color: #1E202C;
}

.res.res-nightmode .content[role=main] {
    background: transparent;
}

/********************************************************************************
* HEADER
*********************************************************************************/
.res.res-nightmode .pagename a {
    background-image: url(%%logo-white%%);
}

.res.res-nightmode #sr-header-area,
.res.res-nightmode #sr-header-area,
.res.res-nightmode #sr-header-area a,
.res.res-nightmode #sr-header-area div[id^=RESShortcuts],
.res.res-nightmode #header-bottom-right,
.res.res-nightmode #header-bottom-right .user,
.res.res-nightmode #header-bottom-right a,
.res.res-nightmode #userbarToggle {
    background-color: #1E202C;
    color: rgba(255,255,255,0.3);
}

.res.res-nightmode #header-bottom-right > ul.flat-list li > a:hover,
.res.res-nightmode #openRESPrefs:hover,
.res.res-nightmode #modmail:not(.havemail):hover,
.res.res-nightmode #new_modmail:not(.havemail):hover,
.res.res-nightmode #mail:not(.havemail):hover,
.res.res-nightmode #RESAccountSwitcherIcon:hover,
.res.res-nightmode #header-bottom-right .beta-hint a:hover {
    background-color: rgba(255,255,255,0.03);
}

.res.res-nightmode .pref-lang:after {
    background-position: -8px -145px;
}
.res.res-nightmode #modmail.nohavemail:after {
    background-position: -9px -116px;;
}
.res.res-nightmode #new_modmail.nohavemail:after {
    background-position: -9px -176px;
}
.res.res-nightmode #message.nohavemail:after,
.res.res-nightmode #mail.nohavemail:after {
    background-position: -8px -31px;
}
.res.res-nightmode #inbox.nohavemail:after {
    background-position: -8px -201px;
}
.res.res-nightmode #RESAccountSwitcherIcon:after {
    background-position: -8px -56px;
}

.res.res-nightmode .gearIcon:after {
    color: white;
}

.res.res-nightmode #header-bottom-left:before {
    background: #1E202C;
}

.res.res-nightmode #header-img-a {
    background: url(%%snoo-white%%) no-repeat center 4px / 60%;
}

.res.res-nightmode #header .tabmenu li a {
    color: hsla(230,15%,60%,1);
}

.res.res-nightmode #header .tabmenu li a:before {
    background: hsla(231,19%,10%,1);
}

/* RES dropdown list */
.res.res-nightmode .RESHover.RESHoverDropdownList.RESDropdownList {
    background-color: hsla(231,16%,25%,1);
}

.res.res-nightmode .RESHover.RESHoverDropdownList.RESDropdownList li,
.res.res-nightmode .RESDropdownList a,
.res.res-nightmode .RESDropdownList a:visited {
    color: rgba(255,255,255,0.5);
}

.res.res-nightmode .RESHover.RESHoverDropdownList.RESDropdownList li:hover,
.res.res-nightmode .RESDropdownList a:hover,
.res.res-nightmode .RESDropdownList a:visited:hover {
    color: rgba(255,255,255,0.8) !important;
}

/********************************************************************************
* SIDEBAR
*********************************************************************************/
.res.res-nightmode .side,
.res.res-nightmode .side .sidebox.submit,
.res.res-nightmode .side .spacer .titlebox .redditname,
.res.res-nightmode .titlebox,
.res.res-nightmode .sidecontentbox {
    background: hsla(230,15%,16%,1);
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
}

.res.res-nightmode #ad_main_top {
    border-color: hsla(230,15%,28%,1);
}

.res.res-nightmode .sidecontentbox .content {
    background: hsla(230,15%,18%,1);
}

.res.res-nightmode .side .md ul li, .res.res-nightmode .side .md ol li {
    background: hsla(230,15%,18%,1);
    border-bottom-color: hsla(230,15%,25%,1);
    color: hsla(230,15%,60%,1);
}

.res.res-nightmode .side .md>ol li:before {
    background: hsla(230,15%,30%,1);
    text-shadow: none;
}

.res.res-nightmode .side .md p {
    color: hsla(230,15%,70%,1);
}

.res.res-nightmode .side .md h1 {
    color: hsla(230,15%,60%,1);
    border-bottom-color: hsla(230,15%,60%,1);
}

.res.res-nightmode .side .md ol,
.res.res-nightmode .side .md ul,
.res.res-nightmode .icon-menu a {
    background: transparent;
}

.res-nightmode .side .leavemoderator,
.res-nightmode .side .leavecontributor-button,
.res-nightmode .side .titlebox,
.res-nightmode .side .spacer .titlebox .redditname,
.res-nightmode .side .titlebox .flairtoggle,
.res-nightmode .side .usertext-body .md ol,
.res-nightmode .side .usertext-body .md ol ol,
.res-nightmode .side .usertext-body .md ol ol li,
.res-nightmode .modactionlisting table *,
.res-nightmode .side .recommend-box .rec-item {
    background: hsla(230,15%,16%,1);
    color: rgba(255,255,255,0.5);
}

/* sections */
.res.res-nightmode .side .md > h1 + ol:before,
.res.res-nightmode .side .md > ul + p + h1 + p:before {
    border-bottom-color: rgba(255,255,255,0.03);
}
.res.res-nightmode .side .md > h1 + ol:after,
.res.res-nightmode .side .md > ul + p + h1 + p + p + p:after {
    border-top-color: rgba(255,255,255,0.03);
}
.res.res-nightmode .side .md > h1 + ol,
.res.res-nightmode .side .md > ul + p + h1 + p,
.res.res-nightmode .side .md > ul + p + h1 + p + p,
.res.res-nightmode .side .md > ul + p + h1 + p + p + p {
    background: rgba(255,255,255,0.03);
}
.res.res-nightmode .side .md > h1:nth-of-type(3)+p+ul {
    background: hsla(230,15%,18%,1);
}

/* linkinfo */
.res-nightmode .side .linkinfo {
    background-color: hsla(230,15%,18%,1);
}

/* checkboxes */
.res.res-nightmode .res-sr-style-toggle label:before,
.res.res-nightmode .sr_style_toggle label:before {
    background: rgba(255,255,255,0.1);
    color: rgba(255,255,255,0.5);
}
.res.res-nightmode .res-sr-style-toggle label,
.res.res-nightmode .sr_style_toggle label {
    color: rgba(255,255,255,0.6);
}

/* RES sub buttons */
.res.res-nightmode .res-fancy-toggle-button {
    color: rgba(255,255,255,0.5);
}

/* toggles */
.res.res-nightmode .leavecontributor-button .option.main:before,
.res.res-nightmode .leavecontributor-button .option.main a,
.res.res-nightmode .side .titlebox .leavemoderator:before,
.res.res-nightmode .leavemoderator a {
    color: rgba(255,255,255,0.5);
}

/* morelink */
.res.res-nightmode .submit-text .morelink,
.res.res-nightmode .submit-text .morelink:hover,
.res.res-nightmode .fancy-toggle-button.subscribe-button.toggle a.option.active {
    background: hsl(230, 12%, 19%);
    border-bottom-color: hsl(230, 12%, 15%);
    box-shadow: inset 0 -2px hsl(230, 12%, 15%);
}
.res.res-nightmode .submit-text .morelink a:before,
.res.res-nightmode .fancy-toggle-button.subscribe-button.toggle a.option.active {
    color: hsla(230,15%,70%,1);
}

/* morelink - create subreddit */
.res.res-nightmode .sidebox.create .morelink {
    background: hsla(231,14%,20%,1);
    color: rgba(255,255,255,0.6);
}
.res.res-nightmode .sidebox.create .morelink:hover {
    background: hsla(231,14%,23%,1);
}

/* categories */
.res.res-nightmode .side .md>h2+ul li {
    background: transparent;
}

.res.res-nightmode .side .md>h2+ul li a:hover {
    background: rgba(255,255,255,0.05);
}

/* modpick category */
.res.res-nightmode .side .md>h2+ul li:first-child a {
    background: rgba(255,255,255,0.04);
    color: rgba(255,255,255,0.5);
}
.res.res-nightmode .side .md>h2+ul li:first-child a:hover {
    background: #FADB04;
    color: white;
}

/********************************************************************************
* LINK LISTING
*********************************************************************************/

/* menuarea */
.res.res-nightmode .content[role=main]>.menuarea,
.res.res-nightmode .listing-page .sitetable > .nav-buttons,
.res.res-nightmode #progressIndicator,
.res.res-nightmode .NERPageMarker,
.res.res-nightmode.comments-page .content[role=main]>.reddit-infobar {
    background: #22242f;
    border:0
}

/********************************************************************************
* LINK
*********************************************************************************/
.res.res-nightmode .link,
.res.res-nightmode .link.linkflair,
.res.res-nightmode .link.last-clicked {
    background: hsla(230,15%,16%,1);
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
}
.res.res-nightmode .link:not(.linkflair):not(.promoted) {
    border-left-color: hsla(230,15%,20%,1);
}
.res.res-nightmode .thing.link.promoted.promotedlink {
    background: hsla(230,15%,16%,1);
}

/* midcol background */
.res.res-nightmode .link .midcol:after {
    background: hsla(230,15%,15%,1);
}

/* score */
.res.res-nightmode .link .score {
    color: hsla(230,15%,54%,1);
}

/* linkflair */
.res.res-nightmode .linkflairlabel {
    background: transparent;
}
.res.res-nightmode .link.linkflair:after,
.res.res-nightmode .link.promoted:after {
    border-color: #333645;
}

/* userattrs, toolbox, user flair, usertagger
and other stuff that comes after the username in the tagline */
.res.res-nightmode body.mod-toolbox .tb-bracket-button,
.res.res-nightmode .flair {
    background: hsla(230,15%,17%,1);
    color: hsla(230,15%,54%,1);
}
.res.res-nightmode .userattrs>a {
    color: #22242f;
    font-weight: bold;
}
.res.res-nightmode .RESUserTag .userTagLink:after {
    color: hsla(230,15%,54%,1);
}
.res.res-nightmode a.voteWeight {
    background-color: transparent !important;
}

/********************************************************************************
* RES FILTERLINE
*********************************************************************************/
.res.res-nightmode .res-filterline {
    background: hsla(230,15%,16%,1);
}
.res.res-nightmode .res-filterline .res-filterline-preamble {
    background: #1E202C;
}
.res.res-nightmode .res-filterline-dropdown-container {
    box-shadow: none;
    background: hsla(230,15%,24%,1);
}

/********************************************************************************
* FOOTER
*********************************************************************************/
.res.res-nightmode .footer .col li:not(.title) a,
.res.res-nightmode a {
    color: #548dc6;
}
.res.res-nightmode .footer .col li.title {
    color: rgba(255,255,255,0.55);
}
.res.res-nightmode .bottommenu,
.res.res-nightmode .bottommenu a {
    color: rgba(255,255,255,0.25);
}

/********************************************************************************
* COMMENT PAGE BACKGROUNDS
*********************************************************************************/
.res.res-nightmode .panestack-title,
.res.res-nightmode .commentarea .menuarea,
.res.res-nightmode .commentarea > .usertext,
.res.res-nightmode .gold-accent.comment-visits-box {
    background: hsla(230,15%,16%,1);
    border-left: 0;
    border-right: 0;
    border-color: #1E202C;
}

.res.res-nightmode .panestack-title,
.res.res-nightmode .comment-permalink-page .commentarea > .menuarea {
    border-top: 6px solid #1E202C;
}

.res.res-nightmode .commentarea .comment .comment,
.res.res-nightmode .commentarea .comment .comment .comment .comment,
.res.res-nightmode .commentarea .comment .comment .comment .comment .comment .comment,
.res.res-nightmode .commentarea .comment .comment .comment .comment .comment .comment .comment .comment,
.res.res-nightmode .commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment
{
    background-color: hsla(230,15%,18%,1) !important;
    border: 0 !important;
}

.res.res-nightmode .comment,
.res.res-nightmode .commentarea .comment,
.res.res-nightmode .commentarea .comment .comment .comment,
.res.res-nightmode .commentarea .comment .comment .comment .comment .comment,
.res.res-nightmode .commentarea .comment .comment .comment .comment .comment .comment .comment,
.res.res-nightmode .commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.res.res-nightmode .commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment
{
    background-color: hsla(230,15%,16%,1) !important;
    border: 0 !important;
}

.res.mod-toolbox.res-nightmode .comment.spam > .child {
    background: transparent;
}

.res.res-nightmode .commentarea>.sitetable>.comment:before,
.res.res-nightmode #bottom-comments>.sitetable>.comment:before {
    background: hsla(230,15%,35%,1);
}

.res.res-nightmode .RES-keyNav-activeElement,
.res.res-nightmode .RES-keyNav-activeElement .md-container {
    background: transparent !important;
}

/********************************************************************************
* COMMENT PAGE STUFF
*********************************************************************************/

/* flair your post warning */
.res.res-nightmode .comments-page.post-submitter .link:not(.linkflair):before {
    color: #22242f;
}

/* active comment element */
.res.res-nightmode .comment.RES-keyNav-activeThing>.entry.RES-keyNav-activeElement .md-container {
    background: hsla(225,67%,96%,0.03) !important;
}

/* usertext */
.res.res-nightmode .usertext-edit textarea {
    background: hsla(230,15%,20%,1);
    border-color: hsla(230,15%,15%,1);
}

.res.res-nightmode .res .markdownEditor {
    background: hsla(230,15%,20%,1);
    border-color: hsla(230,15%,15%,1);
}

.res.res-nightmode .markdownEditor .edit-btn:not(.btn-macro) {
    background-color: hsla(230,15%,28%,1);
}

/* usertext buttons */
.res.res-nightmode .commentingAs,
.res.res-nightmode .usertext .help-toggle a,
.res.res-nightmode .usertext a.reddiquette,
.res.res-nightmode .RESBigEditorPop,
.res.res-nightmode body.mod-toolbox a.tb-loadFlat.tb-general-button,
.res.res-nightmode .RESSubscriptionButton#REScommentSubToggle,
.res.res-nightmode #auto-load-more-comments,
.res.res-nightmode .panestack-title a.title-button,
.res.res-nightmode .res-commentNavToggle {
    color: rgba(255,255,255,0.4);
    background: transparent;
}
.res.res-nightmode .usertext .help-toggle:hover,
.res.res-nightmode .usertext a.reddiquette:hover,
.res.res-nightmode .RESBigEditorPop:hover,
.res.res-nightmode body.mod-toolbox a.tb-loadFlat.tb-general-button:hover,
.res.res-nightmode .RESSubscriptionButton#REScommentSubToggle:hover,
.res.res-nightmode #auto-load-more-comments:hover,
.res.res-nightmode .panestack-title a.title-button:hover {
    background: rgba(255,255,255,0.04);
}

/* comment nav toggle */
.res.res-nightmode #REScommentNavToggle span:before {
    color: rgba(255,255,255,0.4);
}

.res.res-nightmode #REScommentNavToggle div {
    background: hsla(230,15%,18%,1);
    border-color: #1E202C;
}
.res.res-nightmode #REScommentNavToggle:hover span {
    background: hsla(230,15%,18%,1);
    border-color: #1E202C;
}

.res.res-nightmode .res-commentNavToggle-choices {
    background: hsla(230,15%,22%,1);
    border-color: #1E202C;
    color: rgba(255,255,255,0.8);
    box-shadow: none;
}

.res.res-nightmode .res-commentNavToggle-type {
    color: rgba(255,255,255,0.6);
}

/* drop choices */
.res.res-nightmode .dropdown.lightdrop ~ .drop-choices {
    background: hsla(231,16%,25%,1);
    border:0;
}

.res.res-nightmode .dropdown.lightdrop ~ .drop-choices a.choice {
    color: hsla(231,16%,60%,1);
}
.res.res-nightmode .dropdown.lightdrop ~ .drop-choices a.choice:hover {
    background: rgba(255,255,255,0.05);
}

.res.res-nightmode .dropdown.lightdrop .selected:hover {
    background: rgba(255,255,255,0.04);
}

/* cancel button */
.res.res-nightmode .usertext button.cancel {
    background-color: rgba(255,255,255,0.1);
    border-color: rgba(255,255,255,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.08);
    color: rgba(255,255,255,0.5);
}

/* markdown */
.res.res-nightmode .thing .md hr {
    border-color: rgba(255,255,255,0.15);
}
.res.res-nightmode .md th {
    color: inherit;
}
.res.res-nightmode .md blockquote {
    background: rgba(255,255,255,0.03);
}

/* toolbox macro button */
.res.res-nightmode .mod-toolbox select.tb-top-macro-select.tb-action-button,
.res.res-nightmode .mod-toolbox .content select.tb-action-button {
    background-color: hsla(228,15%,22%,1) !important;
    border-color: hsla(228,15%,24%,1) !important;
    color: rgba(255,255,255,0.5) !important;
}

/* gold highlight */
.res.res-nightmode .comment.RES-keyNav-activeThing>.entry.RES-keyNav-activeElement .md-container {
    background: hsla(225,67%,96%,0.03) !important;
}


.res.res-nightmode .gold-accent.comment-visits-box, .res.res-nightmode .gold-accent.comment-visits-box .title {
    background: hsla(231,16%,19%,1);
    color: #fbefb9;
}

.res.res-nightmode .gold-accent.comment-visits-box, .res.res-nightmode .gold-accent.comment-visits-box .title {
    background: hsla(231,16%,17%,1);
    color: rgba(255,255,255,0.25);
    font-weight: normal;
}

.res.res-nightmode select#comment-visits {
    background: rgba(255,255,255,0.05);
    color: rgba(255,255,255,0.45);
}

/* active element */
.res.res-nightmode .comment.RES-keyNav-activeThing>.entry.RES-keyNav-activeElement .md-container {
    background: hsla(225,67%,96%,0.03) !important;
}

/* comment expand button */
.res.res-nightmode .comment .expand {
    color: hsla(230,15%,35%,1);
}

/********************************************************************************
* SIDEBAR SEARCH
*********************************************************************************/
.res.res-nightmode .side #search input[type=text]:hover {
    background: rgba(255,255,255,0.03);
}

.res.res-nightmode .side #search input[type=text]:focus {
    background: rgba(255,255,255,0.05);
}

.res.res-nightmode #searchexpando:before,
.res.res-nightmode #searchexpando {
    background: hsla(231,19%,21%,1);
}

/********************************************************************************
* SUBMIT PAGE
*********************************************************************************/
.res.res-nightmode .submit-page ul.tabmenu.formtab {
    background: hsla(230,15%,18%,1);
}

.res.res-nightmode .submit-page .submit.content {
    background: transparent;
}

.res.res-nightmode .content.submit .roundfield {
    background: hsla(230,15%,18%,1);
}

.res.res-nightmode .submit-page .roundfield>.title {
    color: hsla(230,15%,55%,1);
}

/********************************************************************************
* SEARCH PAGE
*********************************************************************************/
.res.res-nightmode .combined-search-page #previoussearch,
.res.res-nightmode .combined-search-page #search {
    background: #22242f;
    border: 0;
}

.res.res-nightmode ul.res-search-tabs {
    background: #272935;
    border: 0;
}

.res.res-nightmode .combined-search-page .content[role="main"]>.search-result-listing>.search-result-group {
    border-top-color: #1e202c;
    border: 0;
}

.res.res-nightmode .search-result-group {
    background: #22242f;
    border: 0;
}

.res.res-nightmode .combined-search-page .search-result-group .contents,
.res.res-nightmode .combined-search-page #previoussearch .res-search-pane .search-result-group footer .nav-buttons,
.res.res-nightmode .combined-search-page .search-result-group footer .nav-buttons {
    background: #272935;
    border: 0;
}

.res.res-nightmode .combined-search-page .search-result-group .search-result {
    border-bottom-color: hsla(231,15%,24%,1);
}

.res.res-nightmode .combined-search-page #search input[type=text] {
    background: hsla(231,15%,24%,1);
    border-color: hsla(231,15%,30%,1) !important;
    color: white !important;
}

.res.res-nightmode .combined-search-page #search .c-btn-primary.c-btn {
    background: hsla(231,15%,30%,1);
}

.res.res-nightmode .combined-search-page .search-icon:before {
    border-color: hsla(231,15%,55%,1);
}

.res.res-nightmode .combined-search-page .search-icon:after {
    background: hsla(231,15%,55%,1);
}

.res.res-nightmode ul.res-search-tabs li a {
    background: hsla(231,15%,20%,1);
}

.res.res-nightmode ul.res-search-tabs li.res-search-tab-active a,
.res.res-nightmode .combined-search-page #previoussearch .res-search-pane {
    background: hsla(231,15%,15%,1);
}

/********************************************************************************
* WIKI PAGE
*********************************************************************************/

.res.res-nightmode .wiki-page .wiki-page-content,
.res.res-nightmode .wiki-page .wikititle {
    background: #22242f;
}
.res.res-nightmode .wiki-page-content > em:last-of-type,
.res.res-nightmode .wiki-page .pageactions {
    background: #282a35;
}
.res.res-nightmode .wiki-page .pageactions {
    border-color: #1e202c;
}
.res.res-nightmode .wiki-page .pageactions .wikiaction {
    color: rgba(255,255,255,0.35);
}
.res.res-nightmode .wiki-page .pageactions .wikiaction:hover {
    background: rgba(255,255,255,0.03);
}
.res.res-nightmode .wiki-page .pageactions .wikiaction-current {
    background: rgba(255,255,255,0.04);
}

.res.res-nightmode .wiki-page .wiki-page-content .wiki>.toc>ul {
    background: #282a35;
    outline: 10px solid #22242f;
}

.res.res-nightmode .wiki-page .wiki-page-content .wiki>.toc>ul ul {
    background: transparent;
    border-color: rgba(255,255,255,0.35);
}